p, li, h1, h2 {
  font-family: arial, helvetica, sans-serif;
}
body {
  margin: 10px 80px;
}
#header {
  background: #376A94;
  height: 20px;
  padding: 6px;
  color: #ccc;
}
#header a {
  color: white;
}
#header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#header li {
  float: left;
  display: block;
  margin-right: 20px;
}

pre {
  font-family: courier, monospace;
  font-size: 11pt;
  margin: 0;
}


ul.quotes {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.quotes li {
  margin: 0px 0px 25px 0px;
}

ul.quotes .even {
  background: #f9f9f9;
}

textarea {
  width: 60%;
}

div.rating {
  font-family: courier, monospace;
}

ul.messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #eee;
  padding: 6px;
}

ul.messages .info {
  color: #0a0;
  font-weight: bold;
}
ul.messages .error {
  color: #a00;
  font-weight: bold;
}