<html>
  <head>
    <title>
      #python-uk bash
    </title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/base.css">
  </head>
  <body>
    <div id="header">
      <ul>
        <li><a href="{% url landing %}">#python-uk quotes</a></li>
        <li><a href="{% url submit %}">submit</a></li>
      </ul>
    </div>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block main %}
    {% endblock %}
  </body>
</html>
